<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title></title>
</head>

<body>
  <form ng-if="$ctrl.editOn" ng-submit="$ctrl.submitEdit()">
    Edit this post!
    <label>Title:<input ng-model="$ctrl.epost.title"></label>
    <label>Description:<input ng-model="$ctrl.epost.description"></label>
    <label>Image Url:<input ng-model="$ctrl.epost.item_image"></label>
    <label>Price:<input ng-model="$ctrl.epost.price"></label>
    <button type="submit" class="btn btn-primary">Save Changes</button>
  </form>

  <ul class="nav nav-pills">
    <li role="presentation" class="active">
      <input type="search" ng-model="search" placeholder="Filter">
    </li>
    <li class="form-inline">
      <label for="sort">  Sort by </label>
      <select class="form-control" ng-model="sorted" id="sort">
      <option name="sorted" value="-created_at">latest</option>
      <option name="sorted" value="created_at">oldest</option>
      <option name="sorted" value="-price">costliest</option>
      <option name="sorted" value="price">cheapest</option>
    </select>
    </li>
  </ul>

  <div ng-repeat="post in $ctrl.posts | filter:search | orderBy:sorted">
    {{post.title}}<br> {{post.description}}
    <img src="{{post.item_image}}"> {{post.price}}
    <a ng-click="$ctrl.edit(post.id)">edit</a>
    <a ng-click="$ctrl.deletes(post.id)">delete</a>
  </div>

  <form ng-if="$ctrl.newPost" ng-submit="$ctrl.submitNew()">
    Add a new post!
    <label>Title:<input ng-model="$ctrl.npost.title"></label>
    <label>Description:<input ng-model="$ctrl.npost.description"></label>
    <label>Image Url:<input ng-model="$ctrl.npost.item_image"></label>
    <label>Price:<input ng-model="$ctrl.npost.price"></label>
    <button type="submit" class="btn btn-primary">Create Ad</button>
  </form>
</body>

</html>
